<%= form_for @account, as: :account, url: url_for(controller: "accounts", action: "create") do |f| %>
    <%= render 'form_fields', f: f %>

    <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
