[
  {
    "application": "gapps",
    "name": "Google Apps Admin",
    "description": "Admin Google Apps fot Gadz.org"
  },
  {
  "application": "GorgMail",
  "name": "GirgMail Support",
  "description": "Support team for GorgMail"
  }
]