{
  "uuid": "12345678-ABCDE-EFGH-IJKL-123456789012",
  "hruid": "john.doe.2015",
  "idSoce": "123456A",
  "enabled": true,
  "lastname": "Doe",
  "firstname": "John",
  "birthname": "Doedoe",
  "birthFirstname": "Johnny",
  "email": "john.doe.exemple@exemple.com",
  "gapps_email": "john.doe@gadz.org",
  "birthdate": "1994-08-20 00:00:00",
  "deathdate": "2084-08-20 00:00:00",
  "gender": "male",
  "isGadz": true,
  "isStudent": false,
  "schoolId": "2015-1234",
  "isAlumni": true,
  "dateEntreeEcole": "2015-00-00 00:00:00",
  "dateSortieEcole": "2018-00-00 00:00:00",
  "ecoleEntree": "Metz",
  "buqueTexte": "El Captain",
  "buqueZaloeil": "L Capt&n",
  "gadzFams": "84-157",
  "gadzFamsZaloeil": "84µ157",
  "gadzPromsPrincipale": "2015",
  "gadzPromsSecondaire": "2016",
  "avatar_url": "http://fakeimg.pl/100/?text=Pics",
  "alias":
  [
    "john.doe",
    "john.doe.2015",
    "123456A",
    "123456"
  ],
  "description": "Compte Agoram"
}