[
{
  "name": " promo me2011",
  "short_name": "me2011",
  "guid": "157",
  "description": "Prom's Metz 2011"
},
{
  "name": " promo me2012",
  "short_name": "me2012",
  "guid": "158",
  "description": "Prom's Metz 2012"
}
]